Repository nextauthjs/adapters, changes with the labels that .github/labeler.yml gives for each.
All labels: fauna, dynamodb, prisma, typeorm, firebase, documentation, tests

chore(github): add stale.yml and PR_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE.md
  .github/stale.yml
Labels: documentation

test: write account tests
  basic-tests.ts
Labels: none

test(fauna): comply to account tests
  packages/fauna/src/index.js
  packages/fauna/tests/index.test.ts
Labels: fauna, tests

test(firebase): comply to account tests
  packages/firebase/src/index.ts
  packages/firebase/tests/index.test.ts
Labels: firebase, tests

test(prisma): comply to account tests
  packages/prisma/src/index.ts
  packages/prisma/tests/index.test.ts
Labels: prisma, tests

test(prisma-legacy): comply to account tests
  packages/prisma-legacy/prisma/migrations/20210524210548_/migration.sql
  packages/prisma-legacy/prisma/migrations/migration_lock.toml
  packages/prisma-legacy/prisma/schema.prisma
  packages/prisma-legacy/src/index.js
  packages/prisma-legacy/tests/index.test.ts
Labels: prisma, tests

test(typeorm-legacy): comply to account tests
  packages/typeorm-legacy/tests/mysql/index.test.ts
  packages/typeorm-legacy/tests/postgresql/index.test.ts
Labels: typeorm

test: add account tests (#102)
  basic-tests.ts
  packages/fauna/src/index.js
  packages/fauna/tests/index.test.ts
  packages/firebase/src/index.ts
  packages/firebase/tests/index.test.ts
  packages/prisma-legacy/prisma/migrations/20210524210548_/migration.sql
  packages/prisma-legacy/prisma/migrations/migration_lock.toml
  packages/prisma-legacy/prisma/schema.prisma
  packages/prisma-legacy/src/index.js
  packages/prisma-legacy/tests/index.test.ts
  packages/prisma/src/index.ts
  packages/prisma/tests/index.test.ts
  packages/typeorm-legacy/tests/mysql/index.test.ts
  packages/typeorm-legacy/tests/postgresql/index.test.ts
Labels: fauna, prisma, typeorm, firebase, tests

build(prisma): fix migrate collision with legacy adapter
  packages/prisma/package.json
Labels: prisma

docs: use absolute logo url path
  packages/dynamodb/README.md
  packages/fauna/README.md
  packages/firebase/README.md
  packages/prisma/README.md
  packages/typeorm-legacy/README.md
Labels: fauna, dynamodb, prisma, typeorm, firebase, documentation

.github/labeler.yml:

fauna:
  - packages/fauna/**/*

dynamodb:
  - packages/dynamodb/**/*

prisma:
  - packages/prisma/**/*
  - packages/prisma-legacy/**/*

typeorm:
  - packages/typeorm-legacy/**/*

firebase:
  - packages/firebase/**/*

documentation:
  - ./**/*.md

tests:
  - jest.config.js
  - packages/**/tests/*
