Repository nextauthjs/adapters, changes with the labels that .github/labeler.yml gives for each.
All labels: fauna, dynamodb, prisma, typeorm, firebase, pouchdb, documentation, tests

.github/labeler.yml:

fauna:
  - packages/fauna/**/*

dynamodb:
  - packages/dynamodb/**/*

prisma:
  - packages/prisma/**/*
  - packages/prisma-legacy/**/*

typeorm:
  - packages/typeorm-legacy/**/*

firebase:
  - packages/firebase/**/*

pouchdb:
  - packages/pouchdb/**/*

documentation:
  - ./**/*.md

tests:
  - jest.config.js
  - packages/**/tests/*

Update README.md
  packages/pouchdb/README.md
Labels: pouchdb, documentation

Update canary.yml
  .github/workflows/canary.yml
Labels: none

add tests for postgres
  package-lock.json
  packages/sequelize/jest.config.js
  packages/sequelize/package-lock.json
  packages/sequelize/package.json
  packages/sequelize/src/adapter/index.ts
  packages/sequelize/src/index.ts
  packages/sequelize/src/models/index.ts
  packages/sequelize/src/schemas/index.ts
  packages/sequelize/tests/db/config/config.json
  packages/sequelize/tests/db/migrations/20210130163956-create-account.js
  packages/sequelize/tests/db/migrations/20210130170257-create-session.js
  packages/sequelize/tests/db/migrations/20210130170525-create-user.js
  packages/sequelize/tests/db/migrations/20210130170758-create-verification-request.js
  packages/sequelize/tests/db/models/index.ts
  packages/sequelize/tests/postgres/index.test.ts
  packages/sequelize/tsconfig.json
Labels: none

add tests for mysql
  packages/sequelize/package-lock.json
  packages/sequelize/tests/mysql/db/config/config.json
  packages/sequelize/tests/mysql/db/migrations/20210130163956-create-account.js
  packages/sequelize/tests/mysql/db/migrations/20210130170257-create-session.js
  packages/sequelize/tests/mysql/db/migrations/20210130170525-create-user.js
  packages/sequelize/tests/mysql/db/migrations/20210130170758-create-verification-request.js
  packages/sequelize/tests/mysql/db/models/index.ts
  packages/sequelize/tests/mysql/index.test.ts
  packages/sequelize/tests/postgres/db/config/config.json
  packages/sequelize/tests/postgres/db/migrations/20210130163956-create-account.js
  packages/sequelize/tests/postgres/db/migrations/20210130170257-create-session.js
  packages/sequelize/tests/postgres/db/migrations/20210130170525-create-user.js
  packages/sequelize/tests/postgres/db/migrations/20210130170758-create-verification-request.js
  packages/sequelize/tests/postgres/db/models/index.ts
Labels: none

feat(neo4j): Add neo4j tests to github ci.
  .github/workflows/canary.yml
Labels: none

feat(prisma): pass all profile parameters when creating prisma user
  packages/prisma/src/index.ts
Labels: prisma

test: add nx
  package.json
  yarn.lock
Labels: none

test: add missing nx config files
  nx.json
  workspace.json
Labels: none

feat(neo4j): fix some TS type errors.
  packages/neo4j/src/index.ts
  packages/neo4j/tests/index.test.ts
Labels: tests

chore: update github actions with nx
  .github/workflows/canary.yml
  .github/workflows/main.yml
Labels: none

ci: update gh action configs with nx
  .github/workflows/canary.yml
  .github/workflows/main.yml
Labels: none

chore: update nx defaultBase
  nx.json
Labels: none

ci: fix test-adapter actions/checkout fetch all refs
  .github/workflows/canary.yml
Labels: none

ci: fix test-adapter actions/checkout fetch all refs
  .github/workflows/main.yml
Labels: none

ci: test nx gh actions fix
  .github/workflows/canary.yml
  .github/workflows/main.yml
Labels: none

ci: fix typo
  .github/workflows/canary.yml
  .github/workflows/main.yml
Labels: none

ci: update gh actions npm scripts
  .github/workflows/canary.yml
  .github/workflows/main.yml
  package.json
Labels: none

test: updat jest + cleanup test scripts
  package.json
  packages/fauna/tests/test.sh
  packages/pouchdb/tests/index.test.ts
  packages/typeorm-legacy/package.json
  packages/typeorm-legacy/tests/mysql/test.sh
  packages/typeorm-legacy/tests/postgresql/test.sh
  yarn.lock
Labels: fauna, typeorm, pouchdb, tests

test: revert fauna test.sh change
  packages/fauna/tests/test.sh
Labels: fauna, tests

test: revert mysql test.sh change
  packages/typeorm-legacy/tests/mysql/test.sh
Labels: typeorm

test: revert postgres test.sh change
  packages/typeorm-legacy/tests/postgresql/test.sh
Labels: typeorm

fix(primsa): ensure that `providerAccountId` is a string
  packages/prisma/src/index.ts
Labels: prisma

feat(neo4j): passing basic tests
  packages/neo4j/src/index.ts
  packages/neo4j/src/utils.ts
  packages/neo4j/tests/index.test.ts
Labels: tests

feat(neo4j): because the db queries are longer than other adapters. queries are grouped by type
  packages/neo4j/src/account.ts
  packages/neo4j/src/index.ts
  packages/neo4j/src/session.ts
  packages/neo4j/src/user.ts
  packages/neo4j/src/utils.ts
  packages/neo4j/src/verificationRequest.ts
  packages/neo4j/tests/index.test.ts
Labels: tests

feat(neo4j):
  packages/neo4j/src/account.ts
  packages/neo4j/src/session.ts
  packages/neo4j/src/user.ts
  packages/neo4j/src/verificationRequest.ts
  packages/neo4j/tests/index.test.ts
  packages/neo4j/tests/test.sh
Labels: tests

feat(neo4j): readme
  packages/neo4j/README.md
  packages/neo4j/logo.svg
Labels: documentation

feat(neo4j): close the driver in test options.db.disconnect
  packages/neo4j/tests/index.test.ts
Labels: tests

feat(neo4j): remove jest dev dependency
  packages/neo4j/package.json
  yarn.lock
Labels: none

feat(neo4j): test in package.json to run test.sh
  packages/neo4j/package.json
Labels: none

feat(neo4j):
  packages/neo4j/README.md
  packages/neo4j/package.json
  packages/neo4j/src/session.ts
  packages/neo4j/src/user.ts
  packages/neo4j/tests/test.sh
  yarn.lock
Labels: documentation, tests

add sequelize to the adapter matrix
  .github/workflows/canary.yml
Labels: none

fix name error
  .github/workflows/canary.yml
Labels: none

test: create test scripts
  packages/sequelize/package-lock.json
  packages/sequelize/package.json
  packages/sequelize/tests/mysql/db/config/config.json
  packages/sequelize/tests/mysql/db/models/index.ts
  packages/sequelize/tests/mysql/test.sh
  packages/sequelize/tests/postgres/db/config/config.json
  packages/sequelize/tests/postgres/test.sh
Labels: none

chore: cleanup
  packages/sequelize/tests/mysql/test.sh
  packages/sequelize/tests/postgres/test.sh
Labels: none

fix: tsconfig.json
  packages/sequelize/package-lock.json
  packages/sequelize/tsconfig.json
Labels: none

feat(neo4j): remove typescript devDependency - it is in peerDependency
  packages/neo4j/package.json
Labels: none

feat(neo4j): tests
  packages/neo4j/tests/test.sh
Labels: tests

test: dummy declare module
  packages/sequelize/tests/mysql/db/models/index.ts
Labels: none

test: dummy declare
  packages/sequelize/index.d.ts
  packages/sequelize/tests/mysql/db/models/index.ts
Labels: none

test: fix pkg name
  packages/sequelize/sequelize.d.ts
Labels: none
