Repository nextauthjs/adapters, changes with the labels that .github/labeler.yml gives for each.
All labels: fauna, dynamodb, prisma, mongodb, neo4j, typeorm, firebase, pouchdb, sequelize, dgraph, upstash-redis, documentation, tests

.github/labeler.yml:

fauna:
  - packages/fauna/**/*

dynamodb:
  - packages/dynamodb/**/*

prisma:
  - packages/prisma/**/*

mongodb:
  - packages/mongodb/**/*

neo4j:
  - packages/neo4j/**/*

typeorm:
  - packages/typeorm-legacy/**/*

firebase:
  - packages/firebase/**/*

pouchdb:
  - packages/pouchdb/**/*

sequelize:
  - packages/sequelize/**/*

dgraph:
  - packages/dgraph/**/*

upstash-redis:
  - packages/upstash-redis/**/*

documentation:
  - ./**/*.md

tests:
  - jest.config.js
  - packages/**/tests/*

Add upstash-redis issue template
  .github/ISSUE_TEMPLATE/upstash-redis.yaml
Labels: none

Delete package-lock.json
  packages/upstash-redis/package-lock.json
Labels: upstash-redis

Update Yarn lock-file
  yarn.lock
Labels: none

refactor: allow only configuration of orm
  packages/mikro-orm/src/index.ts
  packages/mikro-orm/tests/index.test.ts
Labels: tests

fix: if/else assignments instead of spread-over
  packages/mikro-orm/src/index.ts
Labels: none

chore: stricter entities input type
  packages/mikro-orm/src/index.ts
Labels: none

docs: move entity overrides comment to right place
  packages/mikro-orm/README.md
  packages/mikro-orm/src/index.ts
Labels: documentation

fix: import entityclassgroup correctly
  packages/mikro-orm/package.json
  packages/mikro-orm/src/index.ts
  yarn.lock
Labels: none

docs: adapt docs to only accepting the config now
  packages/mikro-orm/src/index.ts
Labels: none

docs: make extended model passing clearer
  packages/mikro-orm/README.md
Labels: documentation
