Repository nextauthjs/adapters, changes with the labels that .github/labeler.yml gives for each.
All labels: fauna, dynamodb, prisma, typeorm, firebase, pouchdb, documentation, tests

rm: test sequelize module declaration
  packages/sequelize/sequelize.d.ts
Labels: none

DynamoDB: store expires as a timestamp in Unix epoch time format so DynamoDB Time to Live (TTL) can be used
  packages/dynamodb/src/index.ts
Labels: dynamodb

docs(prisma): update custom model readme info
  packages/prisma/README.md
Labels: prisma, documentation

docs(prisma): update README
  packages/prisma/README.md
Labels: prisma, documentation

Update packages/prisma/README.md
  packages/prisma/README.md
Labels: prisma, documentation

feat(prisma): pass all profile parameters when creating prisma user (#132)
  packages/prisma/README.md
  packages/prisma/src/index.ts
Labels: prisma, documentation

build(ci): simplify release workflow
  .github/workflows/canary.yml
  .github/workflows/main.yml
  .github/workflows/release.yml
Labels: none

docs(prisma): trigger changes
  packages/prisma/README.md
Labels: prisma, documentation

.github/labeler.yml:

fauna:
  - packages/fauna/**/*

dynamodb:
  - packages/dynamodb/**/*

prisma:
  - packages/prisma/**/*
  - packages/prisma-legacy/**/*

typeorm:
  - packages/typeorm-legacy/**/*

firebase:
  - packages/firebase/**/*

pouchdb:
  - packages/pouchdb/**/*

documentation:
  - ./**/*.md

tests:
  - jest.config.js
  - packages/**/tests/*
