Repository nextauthjs/adapters, pull requests merged in 2021-06, with the labels that each got.

#124 docs(all): specify canary branch in all install instructions
  packages/dynamodb/README.md
  packages/fauna/README.md
  packages/firebase/README.md
  packages/prisma-legacy/README.md
  packages/prisma/README.md
  packages/typeorm-legacy/README.md
Labels: dynamodb, fauna, firebase, prisma, typeorm

#126 Updated DynamoDB Adaptor documentation
  packages/dynamodb/README.md
Labels: dynamodb

#135 test: update jest + cleanup test scripts
  package.json
  packages/pouchdb/tests/index.test.ts
  packages/typeorm-legacy/package.json
  packages/typeorm-legacy/tests/mysql/test.sh
  yarn.lock
Labels: pouchdb, tests, typeorm

#132 feat(prisma): pass all profile parameters when creating prisma user
  packages/prisma/README.md
  packages/prisma/src/index.ts
Labels: prisma

#147 docs: update readme for latest release tag
  .github/workflows/release.yml
  README.md
  lerna.json
  packages/dynamodb/README.md
  packages/fauna/README.md
  packages/firebase/README.md
  packages/pouchdb/README.md
  packages/prisma/README.md
Labels: dynamodb, fauna, firebase, pouchdb, prisma

#150 build(ci): create release notes
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  lerna.json
  packages/dynamodb/CHANGELOG.md
  packages/fauna/CHANGELOG.md
  packages/firebase/CHANGELOG.md
  packages/pouchdb/CHANGELOG.md
  packages/prisma-legacy/CHANGELOG.md
  packages/prisma/CHANGELOG.md
  packages/typeorm-legacy/CHANGELOG.md
Labels: dynamodb, fauna, firebase, pouchdb, prisma, typeorm

#152 chore: test release.yml git config
  .github/workflows/release.yml
  packages/dynamodb/CHANGELOG.md
  packages/fauna/CHANGELOG.md
  packages/firebase/CHANGELOG.md
  packages/pouchdb/CHANGELOG.md
  packages/prisma-legacy/CHANGELOG.md
  packages/prisma/CHANGELOG.md
  packages/typeorm-legacy/CHANGELOG.md
Labels: dynamodb, fauna, firebase, pouchdb, prisma, typeorm

#148 fix(fauna): add build step to package.json
  packages/fauna/package.json
Labels: fauna

#153 docs: fix broken image link
  packages/prisma/README.md
Labels: prisma

#155 fix(fauna): include `/dist` files in published build
  .github/workflows/release.yml
  packages/fauna/package.json
  packages/fauna/src/index.js
  packages/fauna/tests/index.test.ts
Labels: bug, fauna, tests

#158 chore(ci): customize publish commit message
  .github/workflows/release.yml
  lerna.json
  packages/dynamodb/CHANGELOG.md
  packages/fauna/CHANGELOG.md
  packages/firebase/CHANGELOG.md
  packages/pouchdb/CHANGELOG.md
  packages/prisma-legacy/CHANGELOG.md
  packages/prisma/CHANGELOG.md
  packages/typeorm-legacy/CHANGELOG.md
Labels: dynamodb, fauna, firebase, pouchdb, prisma, typeorm

#157 fix(fauna): change the name of the index to `verification_request_by_token_and_identifier`
  packages/fauna/schema.js
Labels: fauna
