Repository nextauthjs/adapters, pull requests merged in 2021-05, with the labels that each got.

#87 feat(typeorm-legacy): custom user fields
  packages/typeorm-legacy/docs/tutorials/typeorm-custom-models.md
  packages/typeorm-legacy/src/index.js
  packages/typeorm-legacy/src/models/user.js
Labels: enhancement, typeorm

#108 fix(firebase): use `firebase` instead of `firebase-admin`
  basic-tests.ts
  packages/firebase/README.md
  packages/firebase/package.json
  packages/firebase/src/index.ts
  packages/firebase/src/utils.ts
  packages/firebase/tests/index.test.ts
  yarn.lock
Labels: firebase, tests

#112 docs(adapters): update firebase options section + header badges
  packages/dynamodb/README.md
  packages/fauna/README.md
  packages/firebase/README.md
  packages/prisma/README.md
  packages/typeorm-legacy/README.md
Labels: dynamodb, fauna, firebase, prisma, typeorm

#117 docs(adapters): clarify legacy adapters more thoroughly
  README.md
  packages/prisma-legacy/README.md
Labels: prisma
