Repository nextauthjs/adapters, pull requests merged in 2021-11, with the labels that each got.

#307 test(typeorm): run naming strategy test
  packages/typeorm-legacy/package.json
  packages/typeorm-legacy/tests/mysql/index.custom.test.ts
  packages/typeorm-legacy/tests/sqlite/index.test.ts
  yarn.lock
Labels: typeorm

#237 feat(sequelize): Add Sequelize adapter
  .github/labeler.yml
  packages/sequelize/CHANGELOG.md
  packages/sequelize/README.md
  packages/sequelize/jest.config.js
  packages/sequelize/logo.svg
  packages/sequelize/package.json
  packages/sequelize/src/index.ts
  packages/sequelize/src/models.ts
  packages/sequelize/tests/index.test.ts
  packages/sequelize/tsconfig.json
  yarn.lock
Labels: tests

#186 feat(neo4j): use new Adapter API
  packages/neo4j/README.md
  packages/neo4j/jest.config.js
  packages/neo4j/logo.svg
  packages/neo4j/package.json
  packages/neo4j/src/index.ts
  packages/neo4j/src/utils.ts
  packages/neo4j/tests/index.test.ts
  packages/neo4j/tests/resources/constraints.cypher
  packages/neo4j/tests/test.sh
  packages/neo4j/tsconfig.json
  yarn.lock
Labels: tests, neo4j

#314 refactor(neo4j): clean up Neo4j adapter
  .github/labeler.yml
  packages/neo4j/package.json
  packages/neo4j/src/index.ts
  packages/neo4j/src/utils.ts
  packages/neo4j/tests/index.test.ts
  packages/neo4j/tests/test.sh
  yarn.lock
Labels: tests

#206 feat(dgaph): add Dgraph adapter
  .github/labeler.yml
  packages/dgraph/README.md
  packages/dgraph/jest.config.js
  packages/dgraph/package.json
  packages/dgraph/src/dgraphClient.ts
  packages/dgraph/src/format.ts
  packages/dgraph/src/graphql/fragments.ts
  packages/dgraph/src/graphql/mutations.ts
  packages/dgraph/src/graphql/queries.ts
  packages/dgraph/src/graphql/secure.schema.gql
  packages/dgraph/src/graphql/unsecure.schema.gql
  packages/dgraph/src/index.ts
  packages/dgraph/tests/index.test.ts
  packages/dgraph/tsconfig.json
  yarn.lock
Labels: tests

#315 chore(neo4j): Test refactor constraints
  packages/neo4j/tests/index.test.ts
  packages/neo4j/tests/resources/statements.ts
  packages/neo4j/tests/test.sh
Labels: tests, neo4j

#316 chore(neo4j): minor amend to tests
  packages/neo4j/src/index.ts
  packages/neo4j/tests/index.test.ts
Labels: tests, neo4j

#324 fix(mongodb): initialize `JEST_WATCH=false`
  packages/mongodb/tests/test.sh
Labels: tests, mongodb

#320 fix(dgraph): Test all unsecure, HS256, RS256 methods
  packages/dgraph/.gitignore
  packages/dgraph/src/client.ts
  packages/dgraph/src/graphql/secure.schema.gql
  packages/dgraph/tests/index.test.ts
  packages/dgraph/tests/test.sh
  packages/neo4j/src/index.ts
  packages/neo4j/tests/index.test.ts
  packages/neo4j/tests/resources/statements.ts
  packages/neo4j/tests/test.sh
Labels: tests, neo4j, dgraph

#325 feat(mikro-orm): add mikro-orm adapter
  package.json
  packages/mikro-orm/.gitignore
  packages/mikro-orm/README.md
  packages/mikro-orm/jest.config.js
  packages/mikro-orm/logo.svg
  packages/mikro-orm/package.json
  packages/mikro-orm/src/entities.ts
  packages/mikro-orm/src/index.ts
  packages/mikro-orm/tests/index.test.ts
  packages/mikro-orm/tests/testEntities.ts
  packages/mikro-orm/tsconfig.json
  packages/neo4j/tests/resources/statements.ts
  yarn.lock
Labels: tests, neo4j

#317 fix(dgraph): refactor, simplify, fix tests
  basic-tests.ts
  packages/dgraph/.gitignore
  packages/dgraph/README.md
  packages/dgraph/package.json
  packages/dgraph/src/client.ts
  packages/dgraph/src/dgraphClient.ts
  packages/dgraph/src/graphql/fragments.ts
  packages/dgraph/src/graphql/mutations.ts
  packages/dgraph/src/graphql/queries.ts
  packages/dgraph/src/graphql/schema.gql
  packages/dgraph/src/graphql/unsecure.schema.gql
  packages/dgraph/src/index.ts
  packages/dgraph/src/utils.ts
  packages/dgraph/tests/index.test.ts
  packages/dgraph/tests/private.key
  packages/dgraph/tests/public.key
  packages/dgraph/tests/test.sh
Labels: tests, dgraph

#268 feat(dynamo): upgrade to next-auth v4, aws sdk v3, add jest-dynamodb tests
  .gitignore
  basic-tests.ts
  packages/dynamodb/README.md
  packages/dynamodb/jest-dynamodb-config.js
  packages/dynamodb/jest.config.js
  packages/dynamodb/package.json
  packages/dynamodb/src/index.ts
  packages/dynamodb/tests/index.test.ts
  packages/neo4j/tests/index.test.ts
  yarn.lock
Labels: dynamodb, tests, neo4j
