Repository nextauthjs/adapters, pull requests merged in 2021-09, with the labels that each got.

#185 feat(typeorm): use new Adapter API
  basic-tests.ts
  packages/typeorm-legacy/.babelrc.js
  packages/typeorm-legacy/index.d.ts
  packages/typeorm-legacy/package.json
  packages/typeorm-legacy/src/entities.ts
  packages/typeorm-legacy/src/index.js
  packages/typeorm-legacy/src/index.ts
  packages/typeorm-legacy/src/lib/naming-strategies.js
  packages/typeorm-legacy/src/lib/transform.js
  packages/typeorm-legacy/src/lib/utils.js
  packages/typeorm-legacy/src/models/account.js
  packages/typeorm-legacy/src/models/index.js
  packages/typeorm-legacy/src/models/session.js
  packages/typeorm-legacy/src/models/user.js
  packages/typeorm-legacy/src/models/verification-request.js
  packages/typeorm-legacy/src/utils.ts
  packages/typeorm-legacy/tests/helpers.ts
  packages/typeorm-legacy/tests/mysql/index.test.ts
  packages/typeorm-legacy/tests/mysql/schema.sql
  packages/typeorm-legacy/tests/mysql/test.sh
  packages/typeorm-legacy/tests/postgresql/index.test.ts
  packages/typeorm-legacy/tests/postgresql/schema.sql
  packages/typeorm-legacy/tests/postgresql/test.sh
  packages/typeorm-legacy/tests/sqlite/index.test.ts
  packages/typeorm-legacy/tsconfig.json
  yarn.lock
Labels: typeorm, tests

#193 feat(mongodb): add standalone mongoDB adapter
  basic-tests.ts
  packages/mongodb/README.md
  packages/mongodb/jest.config.js
  packages/mongodb/logo.svg
  packages/mongodb/package.json
  packages/mongodb/src/index.ts
  packages/mongodb/tests/index.test.ts
  packages/mongodb/tests/test.sh
  packages/mongodb/tsconfig.json
  yarn.lock
Labels: tests, mongodb

#224 feat(typeorm): Refactor getManager
  packages/typeorm-legacy/src/index.ts
  packages/typeorm-legacy/src/utils.ts
Labels: typeorm

#239 test(typeorm): add custom model tests
  packages/typeorm-legacy/jest.config.js
  packages/typeorm-legacy/package.json
  packages/typeorm-legacy/tests/custom-entities.ts
  packages/typeorm-legacy/tests/init.sh
  packages/typeorm-legacy/tests/mysql/index.custom.test.ts
  packages/typeorm-legacy/tests/mysql/test.sh
  packages/typeorm-legacy/tests/postgresql/index.custom.test.ts
  packages/typeorm-legacy/tests/postgresql/test.sh
  packages/typeorm-legacy/tests/sqlite/index.custom.test.ts
  packages/typeorm-legacy/tests/sqlite/test.sh
  packages/typeorm-legacy/tests/test.sh
Labels: typeorm, tests

#243 docs(typeorm): update `README.md`
  packages/typeorm-legacy/README.md
Labels: typeorm

#244 docs(fauna): update `README.md`
  packages/fauna/README.md
Labels: fauna

#247 docs(prisma): update `README.md`
  packages/prisma/README.md
Labels: prisma

#248 docs(fauna): update `README.md`
  packages/fauna/README.md
  packages/fauna/src/index.ts
Labels: fauna

#257 fix(typeorm-legacy): refer to entities by string instead of class
  packages/typeorm-legacy/src/index.ts
Labels: typeorm
