Repository nextauthjs/adapters, pull requests merged in 2021-12, with the labels that each got.

#329 refactor(dynamo): clean up
  packages/dynamodb/src/index.ts
  packages/dynamodb/src/utils.ts
  packages/dynamodb/tests/index.test.ts
Labels: dynamodb, tests

#337 docs(sequelize): fix typo in `README.md`
  packages/sequelize/README.md
Labels: sequelize

#348 fix(neo4j): update user bugfix
  basic-tests.ts
  packages/neo4j/src/index.ts
Labels: neo4j

#352 fix(neo4j): update user bugfix
  basic-tests.ts
  packages/neo4j/src/index.ts
Labels: neo4j

#356 Fix issues with firebase adapter
  packages/firebase/src/index.ts
  packages/firebase/tests/index.test.ts
Labels: firebase, tests
