Repository nextauthjs/adapters, pull requests merged in 2021-08, with the labels that each got.

#171 feat(prisma): use new Adapter API
  .github/workflows/release.yml
  .gitignore
  basic-tests.ts
  package.json
  packages/prisma-legacy/.babelrc.js
  packages/prisma-legacy/.gitignore
  packages/prisma-legacy/CHANGELOG.md
  packages/prisma-legacy/README.md
  packages/prisma-legacy/index.d.ts
  packages/prisma-legacy/jest.config.js
  packages/prisma-legacy/package.json
  packages/prisma-legacy/prisma/migrations/20210524210548_/migration.sql
  packages/prisma-legacy/prisma/migrations/migration_lock.toml
  packages/prisma-legacy/prisma/schema.prisma
  packages/prisma-legacy/src/index.js
  packages/prisma-legacy/tests/index.test.ts
  packages/prisma/package.json
  packages/prisma/prisma/migrations/20210208170056_/migration.sql
  packages/prisma/prisma/migrations/20210208170158_/migration.sql
  packages/prisma/prisma/migrations/20210428211515_/migration.sql
  packages/prisma/prisma/schema.prisma
  packages/prisma/src/index.ts
  packages/prisma/tests/index.test.ts
  tsconfig.json
  yarn.lock
Labels: prisma, tests

#182 feat(fauna): use new Adapter API
  .gitignore
  basic-tests.ts
  package.json
  packages/fauna/.fauna-migrate.js
  packages/fauna/README.md
  packages/fauna/fauna/resources/collections/accounts.fql
  packages/fauna/fauna/resources/collections/sessions.fql
  packages/fauna/fauna/resources/collections/users.fql
  packages/fauna/fauna/resources/collections/verification_tokens.fql
  packages/fauna/fauna/resources/indexes/account_by_provider_and_provider_account_id.fql
  packages/fauna/fauna/resources/indexes/accounts_by_user_id.fql
  packages/fauna/fauna/resources/indexes/session_by_session_token.fql
  packages/fauna/fauna/resources/indexes/sessions_by_user_id.fql
  packages/fauna/fauna/resources/indexes/user_by_email.fql
  packages/fauna/fauna/resources/indexes/verification_token_by_identifier_and_token.fql
  packages/fauna/fauna/schema.fql
  packages/fauna/package.json
  packages/fauna/schema.js
  packages/fauna/src/index.js
  packages/fauna/src/index.ts
  packages/fauna/tests/index.test.ts
  packages/fauna/tests/migrations/2021-05-15T13_00_44.702Z/create-collection-accounts.fql
  packages/fauna/tests/migrations/2021-05-15T13_00_44.702Z/create-collection-sessions.fql
  packages/fauna/tests/migrations/2021-05-15T13_00_44.702Z/create-collection-users.fql
  packages/fauna/tests/migrations/2021-05-15T13_00_44.702Z/create-collection-verification_requests.fql
  packages/fauna/tests/migrations/2021-05-15T13_00_44.702Z/create-index-account_by_provider_account_id.fql
  packages/fauna/tests/migrations/2021-05-15T13_00_44.702Z/create-index-session_by_token.fql
  packages/fauna/tests/migrations/2021-05-15T13_00_44.702Z/create-index-user_by_username.fql
  packages/fauna/tests/migrations/2021-05-15T13_00_44.702Z/create-index-verification_request_by_token_and_identifier.fql
  packages/fauna/tests/resources/collections/accounts.fql
  packages/fauna/tests/resources/collections/sessions.fql
  packages/fauna/tests/resources/collections/users.fql
  packages/fauna/tests/resources/collections/verification_requests.fql
  packages/fauna/tests/resources/indexes/account_by_provider_account_id.fql
  packages/fauna/tests/resources/indexes/session_by_token.fql
  packages/fauna/tests/resources/indexes/user_by_email.fql
  packages/fauna/tests/resources/indexes/user_by_username.fql
  packages/fauna/tests/resources/indexes/verification_request_by_token_and_identifier.fql
  packages/fauna/tests/test.sh
  packages/fauna/tsconfig.json
  yarn.lock
Labels: fauna, tests

#167 docs: cleanup readmes
  packages/firebase/README.md
  packages/pouchdb/README.md
  packages/prisma-legacy/README.md
  packages/prisma/README.md
  packages/typeorm-legacy/README.md
Labels: prisma, typeorm, firebase, pouchdb
