Repository nextauthjs/adapters, pull requests merged in 2022-01, with the labels that each got.

#365 Convert value prop to Date only if of type string
  packages/fauna/src/index.ts
Labels: fauna

#366 fix(dynamo): Ensure expires attribute is stored as a UNIX timestamp
  packages/dynamodb/src/utils.ts
  packages/dynamodb/tests/format.test.ts
Labels: dynamodb, tests

#367 fix(dynamo): Ensure expires attribute is stored as a UNIX timestamp [Take 2]
  packages/dynamodb/src/utils.ts
  packages/dynamodb/tests/format.test.ts
Labels: dynamodb, tests

#341 feat(upstash-redis): add upstash-redis adapter
  .github/ISSUE_TEMPLATE/upstash-redis.yaml
  .github/labeler.yml
  packages/upstash-redis/.env.example
  packages/upstash-redis/CHANGELOG.md
  packages/upstash-redis/README.md
  packages/upstash-redis/jest.config.js
  packages/upstash-redis/logo.svg
  packages/upstash-redis/package.json
  packages/upstash-redis/src/index.ts
  packages/upstash-redis/tests/index.test.ts
  packages/upstash-redis/tsconfig.json
  yarn.lock
Labels: tests, upstash-redis

#373 fix(upstash-redis): expose environment variables in workflow
  .github/workflows/release.yml
  packages/upstash-redis/src/index.ts
Labels: upstash-redis

#375 fix(sequelize): prevent indexes duplication
  packages/sequelize/src/models.ts
Labels: sequelize
